:root {
  //COLORS
  --color-white: #fff;
  --color-black: #000;

  --color-gray-1: rgb(217, 217, 217);
  --color-gray-2: #909090;
  --color-gray-3: #d9d9d9;

  --color-green-1: #00c288;
  --color-green-2: #08f282;
  --color-green-3: #07dd83;
  --color-green-4: #0dbc72;
  --color-green-5: #0c5037;

  --color-card-border: #eeeaea;

  // FONT SIZE
  --small-font-size: 0.9rem;
  --default-font-size: 1.6rem;
}
