@import "../../../UI/styles/mixins";

.button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 2rem;
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 700;
  font-family: inherit;
  background: var(--color-red-3);
  padding: 0.05rem 3rem;
  text-decoration: none;
  margin: 0.15rem;
  border: 3px solid var(--color-white);
  cursor: pointer;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.44);
  letter-spacing: 2px;

  transition: all 0.1s ease-out;

  @include respond(phone) {
    font-size: 1rem;
    letter-spacing: 0;

    padding: 0.15rem 0.5rem;

    border: 1px solid var(--color-white);
  }
}

.button:hover {
  text-decoration: none;
  // background: var(--color-red-4);
  filter: brightness(0.9);
}
