@import "../../UI/styles/mixins";

.decision {
  height: 100%;
  width: 80%;

  max-width: 85rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5rem 10rem;

  @include respond(phone) {
    width: 100%;
    padding: 3rem 5rem;
  }

  &__title {
    width: 100%;

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid var(--color-white);
    padding-bottom: 0.75rem;

    border-radius: 2rem;

    background-color: #07c452;

    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.14);

    &_text {
      width: 100%;

      background: rgb(8, 242, 130);
      background: linear-gradient(
        30deg,
        rgba(8, 242, 130, 1) 50%,
        rgba(7, 221, 131, 1) 50%
      );

      border-radius: 2.5rem;

      padding: 1rem 2.5rem;

      font-size: 3.5rem;
      color: var(--color-white);
      // text-shadow: 0px 2px 2px var(--color-gray-2);
      text-shadow: 0px 2px 2px rgba(161, 161, 161, 0.7);

      @include respond(phone) {
        font-size: 2.1rem;
        padding: 0.75rem 2.5rem;
      }
    }
  }
  &__dificulty {
    width: 100%;

    margin: 3px 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // width: -webkit-fill-available;
    // width: inherit;

    &_row {
      user-select: none;
      width: 100%;
      opacity: 0.65;
      background-color: var(--color-white);
      border: 2px solid var(--color-black);

      border-radius: 1.75rem;

      padding: 0.5rem 2.5rem;

      font-size: 3.5rem;
      color: var(--color-black);
      text-shadow: 0px 2px 2px rgba(161, 161, 161, 0.7);

      @include respond(phone) {
        font-size: 2.1rem;
        padding: 0.25rem 2.5rem;
      }
    }
    &_activeRow {
      width: 100%;
      opacity: 0.65;
      background-color: var(--color-green-2);
      border: 2px solid var(--color-black);

      border-radius: 1.75rem;

      padding: 0.5rem 2.5rem;

      font-size: 3.5rem;
      color: var(--color-white);

      transition: all 0.2s ease;

      @include respond(phone) {
        font-size: 2.1rem;
        padding: 0.25rem 2.5rem;
      }
    }
  }
  &__input {
    width: 100%;
    background-color: var(--color-gray-3);
    border: 2px solid var(--color-black);

    border-radius: 0.75rem;

    padding: 0.5rem 2.5rem;

    color: var(--color-black);

    input {
      width: inherit;
      border: 0;
      outline: 0;
      border-bottom: 2px solid var(--color-black);
      font-size: 3.5rem;
      background-color: var(--color-gray-3);

      text-align: center;

      @include respond(phone) {
        font-size: 2.1rem;
      }

      &:focus {
        outline: none !important;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }
}
