@import "../../UI/styles/mixins";

.oldPaper {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5rem;

  @include respond(phone) {
    padding: 3rem 1rem;
  }

  &__paper {
    height: 34rem;
    width: 49rem;
    background-image: url("../../assets/images/oldPaper.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      height: 15rem;
      width: 22rem;
    }

    &_list {
      height: 100%;
      width: 100%;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      padding: 3rem 7rem;

      @include respond(phone) {
        padding: 2rem 3rem;
      }

      .row {
        p {
          font-size: 3rem;
          font-weight: 700;

          @include respond(phone) {
            font-size: 1.25rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
