@import "../../UI/styles/mixins";

.webGame {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    padding: 2rem 0;
  }

  &__rowZero {
    min-height: 5vh;
    width: 100%;
    padding: 0 3rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__rowOne {
    min-height: 40vh;
    width: 100%;

    display: flex;

    @include respond(phone) {
      // min-height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &_colOne {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        width: 100%;
        order: 2;
      }
    }

    &_colTwo {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        width: 100%;
        order: 1;
      }
    }
  }

  &__rowTwo {
    min-height: 60vh;
    width: 100%;

    display: flex;

    @include respond(phone) {
      min-height: 65vh;
      align-items: center;
      justify-content: center;
    }
  }
}